.image-section img {
    /* height: auto;  */
    /* width: auto;  */
    max-width: 370px; 
    /* max-height: 280px; */
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 5px;
}

img {
    /* height: auto;  */
    /* width: auto;  */
    max-width: 370px; 
    /* max-height: 280px; */
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 5px;
}

