html {
    scroll-behavior: smooth;
}

body #root {
    overflow-x: hidden;
    background-color: whitesmoke;
}

@media only screen and (min-width: 1000px) {
    body .content {
        margin: auto;
        /* padding-top: 40px; */
        width: 1000px; 
        max-width: 1100px;
        position: relative;
    }

    body .contentZIndex {
        background-color: white;
        margin: auto;
        /* padding-top: 50px; */
        padding: 50px 70px 0px 70px;
        width: 1000px;
        max-width: 1100px;
        z-index: 2;
        margin-top: -100px;
        position: relative;
    }
}