.divImage {
    height: 600px;
    width: auto;
    max-width: 1100px;
    background: url("https://s3-ap-southeast-2.amazonaws.com/villa-dewata/seminyak-food.jpg"), linear-gradient(
        to right,
    rgba(255, 255, 255, 0),
        rgba(255,255,255, 100)
    );
    background-position: center;
    /* background-repeat: no-repeat;
    background-size: cover; */
    /* position: relative; */
}

/* .divImage:after {
    background: linear-gradient(to right, #000000, #ffffff);
} */